# CH01 연습문제

In [1]:
# 1번 문제
data = '890724'
year = '19' + data[:2]
month = data[2:4]
day = data[4:]

print(year, month, day)

1989 07 24

In [2]:
# 2번 문제
data = '20211209'

result = data[:4] + '-' + data[4:6] + '-' + data[6:]
print(result)

2021-12-09

In [3]:
# 3번 문제
data = '010-1234-5678'
data.replace('-','')

'01012345678'

In [5]:
data = '010-1234-5678'
data2 = data.split('-')
data3 = ''.join(data2)
data3

'01012345678'

In [7]:
# 4번 문제
name = 'Daily ESSENTIALS REGRESHING TONER REVIEWS'
name.lower()

'daily essentials regreshing toner reviews'

In [14]:
# 5번 문제
word = input('한글 단어를 입력해주세요: ')
dic1 = {'하나':'one','둘':'two','셋':'three','넷':'four','다섯':'five','여섯':'six','일곱':'seven',
       '여덟':'eight','아홉':'nine','열':'ten'}

print(dic1[word])

한글 단어를 입력해주세요: 하나
one

In [15]:
# 6번 문제
list1 = [1,1,1,1,2,2,6,9,3,4,5,6,7,8,9]
s1 = set(list1)
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [17]:
# 7번 문제
r = int(input('값을 입력해주세요: '))
result = 3.14*(r**2)
print(result)

값을 입력해주세요: 10
314.0

In [18]:
# 8번 문제
x = int(input('값을 입력해주세요: '))

y1 = (x**2) - x + 100
y1

값을 입력해주세요: 10

190

In [19]:
y2 = 2*x + 25
y2

45

In [20]:
y3 = (x**2 + x) / x
y3

11.0

비교연사자는 TRUE, FALSE (BOOL)

In [24]:
bir = int(input("태어난 연도를 입력해 주세요 :"))

dic = {bir%12==0:'신(원숭이)', bir%12==1:'유(닭)', bir%12==2:'술(개)',
       bir%12==3:'해(돼지)', bir%12==4:'자(쥐)', bir%12==5:'축(소띠)',
       bir%12==6:'인(범)', bir%12==7:'묘(토끼)', bir%12==8:'진(용)',
      bir%12==9:'사(뱀)', bir%12==10:'오(말)', bir%12==11:'미(양)'}

print(dic[True])

태어난 연도를 입력해 주세요 :2021
축(소띠)

In [22]:
#9번 문제
bir = int(input("태어난 연도를 입력해 주세요 :"))

num = bir%12
dic2 = {0:'원숭이', 1:'닭', 2:'개', 3:'돼지', 4:'쥐', 5:'소', 6:'범', 7:'토끼', 8: '용',
       9:'뱀', 10:'말', 11:'양'}

print(dic2[num])

태어난 연도를 입력해 주세요 :2021
소

In [25]:
#10번 문제
m = int(input('미터를 입력해주세요: '))
mile = m*(0.000621)

print('변환된 마일은: ', mile,'입니다.')

미터를 입력해주세요: 10
변환된 마일은:  0.00621 입니다.

In [26]:
# 11번 문제
fa = int(input('화씨온도를 입력해주세요:'))
print((fa-32)/1.8)

화씨온도를 입력해주세요:10
-12.222222222222221

In [27]:
# 12번 문제
r = int(input('반지름을 입력해주세요: '))
h = int(input('높이를 입력해주세요: '))

print((r**2)*3.14*h)

반지름을 입력해주세요: 10
높이를 입력해주세요: 10
3140.0

In [36]:
r, h = input('문자 두개를 입력해주세요: ').split(',')
r = int(r)
h = int(h)

문자 두개를 입력해주세요: 10,20

In [39]:
# 상품가격과 지불 금액을 입력받아서 거스름돈을 최소화 하도록 해보자.
price, payment = input('상품금액과 지불금액을 입력해주세요: ').split()
price = int(price)
payment = int(payment)

charge = payment - price

ch1 = charge//500
charge2 = charge - ch1*500
ch2 = charge2//100
charge3 = charge2 - ch2*100
ch3 = charge3//50
charge4 = charge3 - ch3*50
ch4 = charge4//10

print('거스름돈은: ', charge,'원이며, 500원은', ch1,'개이고, 100원은', ch2,'개이고, 50원은', 
      ch3,'개이고, 10원은', ch4,'개 이다.')

상품금액과 지불금액을 입력해주세요: 240 1000
거스름돈은:  760 원이며, 500원은 1 개이고, 100원은 2 개이고, 50원은 1 개이고, 10원은 1 개 이다.

# IF 조건문

In [41]:
money = False

if money:
    print('사과를 사라')
else:
    print('바나나를 사라')

바나나를 사라

만약 8,000원 이상의 돈을 갖고 있으면 사과를 사고 그렇지 않으면 바나나를 사라

In [43]:
money = int(input('갖고 있는 돈을 입력해주세요: '))

if money >= 8000:
    print('사과를 사라')
else:
    print('바나나를 사라')

갖고 있는 돈을 입력해주세요: 10000
사과를 사라

정수를 입력받아보고, 이 정수가 홀수인지 짝수인지 출력

In [44]:
number = int(input('정수를 입력해주세요: '))

if number % 2 ==0:
    print('짝수입니다.')
else:
    print('홀수입니다.')

정수를 입력해주세요: 13
홀수입니다.

## 비교연산자
 - bool형태(True, False)
 - '>=', '<=', '==', '!='

## 논리연산자
 - and / or
 - x or y: x와 y 둘 중에 하나만 참이여도 참 (부호: |)
 - x and y: x와 y 모두 참이여야 참 (부호: &)

> 돈이 8000원 이상 있거나 카드가 있으면 사과를 사고, 그렇지 않으면 바나나를 구매하자

In [49]:
money = 5000
card = True

if money >= 8000 and card:
    print('사과를 사라')
else:
    print('바나나를 사라')

바나나를 사라

In [50]:
# 다중조건: elif
pocket = ['pen', 'phone']
card = True

if 'money' in pocket:
    print('과일을 사라')
elif card:
    print('채소를 사라')
else:
    print('그냥 가라')

채소를 사라

# ELIF구문 예시
1. 점수를 입력받아 보자.
2. 점수에 따라서 학점을 부여해봅시다(95이상: A+, 90이상: A, 85이상: B+, 80이상: B. 나머지는 C+)

In [52]:
score = int(input('점수를 입력해주세요: '))

if score >= 95:
    print('A+ 입니다.')
elif score >= 90:
    print('A0 입니다.')
elif score >= 85:
    print('B+ 입니다.')
elif score >= 80:
    print('B0 입니다.')
else:
    print('C+ 입니다.')

점수를 입력해주세요: 80
B0 입니다.

In [7]:
# while 반복문 예시
i = 0

while i <5:
    print('hi python')
    i = i+1

hi python
hi python
hi python
hi python
hi python

while문을 사용해서 1부터 10까지 합계

In [13]:
i = 0
sum = 0

while i < 10:
    i = i+1
    sum = sum + i

In [14]:
print(sum)

55

10까지 숫자 중에서 홀수만을 출력해봅시다.

In [17]:
i = 0
while i <10:
    i = i + 1
    if i % 2 == 1:
        print(i, end = ' ')

1 3 5 7 9

In [18]:
egg = 5
money = 500

while money:
    print('돈을 받고 계란을 준다.')
    egg = egg-1
    print('남은 계란은 %d개 입니다.'% egg)
    if egg == 0:
        print('계란이 없습니다.')
        break

돈을 받고 계란을 준다.
남은 계란은 4개 입니다.
돈을 받고 계란을 준다.
남은 계란은 3개 입니다.
돈을 받고 계란을 준다.
남은 계란은 2개 입니다.
돈을 받고 계란을 준다.
남은 계란은 1개 입니다.
돈을 받고 계란을 준다.
남은 계란은 0개 입니다.
계란이 없습니다.

In [20]:
a = 0
while a< 10:
    a = a+1
    if a % 2 == 0:
        continue
    print(a, end = ' ')

1 3 5 7 9

# FOR문
 - for문은 지정된 횟수만큼 반복
 - if문과 같이 쓰이며 업무자동화

In [22]:
test_list = ['one','two','three']
for i in test_list:
    print(i)

one
two
three

개별 데이터가 60이상일 때 합격 메시지를 출력하고 60 미만인 경우 불합격 통보

In [25]:
dat = [80,60,70,40,70,80,40,60,40]
num = 0

for i in dat:
    num = num + 1
    if i >= 60:
        print('%d번은 합격입니다.'%num)
    else:
        print('%d번은 불합격입니다.'%num)

1번은 합격입니다.
2번은 합격입니다.
3번은 합격입니다.
4번은 불합격입니다.
5번은 합격입니다.
6번은 합격입니다.
7번은 불합격입니다.
8번은 합격입니다.
9번은 불합격입니다.

In [26]:
import numpy as np
dat = [80,60,70,90,100]

arr = np.array(dat)
arr.mean()

80.0

정수를 입력받아서 구구단을 출력하는 프로그램 for문과 while문 두개로 진행해볼게요!

In [29]:
# while문

number = int(input('정수를 입력해주세요: ')) # number = 8
i = 0

while i < 9:
    i = i+1
    print('%d x %d = %d' %(number, i, number*i))

정수를 입력해주세요: 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

In [32]:
# for문
for i in range(1,10):
    print('%d x %d = %d' %(number, i, number*i))

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

In [37]:
for data in range(1,10):
    m = data*number
    print(number, 'x', data,'=', m)

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

# 함수

In [38]:
def add(a,b):
    return a+b

print(add(3,4))

7

- 일반적인 함수(입력값, 결과값 o)
- 입력값이 없는 함수
- 결과값이 없는 함수
- 입력값도 결과값도 없는 함수

In [39]:
# 일반적인 함수
def add(a,b): # 매개변수가 존재하기 때문에 입력값이 존재함
    result = a+b
    return result # return을 통해 결과값을 보여주기 때문에 결과값도 존재함

print(add(3,5))

8

In [40]:
# 입력값이 없는 함수 호출
def say():
    return 'Hi'

a = say()
print(a)

Hi

In [41]:
# 리턴값이 없는 함수 호출
def add(a,b):
    print('%d, %d의 합은 %d입니다.'%(a,b,a+b))

In [43]:
a = add(3,4)
print(a)

3, 4의 합은 7입니다.
None

In [52]:
# 입력값도 결과값(리턴값)도 없는 함수
def say():
    print('Hi')
    
b = say()

Hi

In [53]:
b

return
- 함수를 종료시키고 호출한 곳으로 돌아가게 함
- return 어떠한 객체로 변환 가능

In [54]:
def swap(x,y):
    return y, x

swap(1,2)

(2, 1)

In [55]:
def printuser(name, age = 18):
    print('이름: ' + name)
    print('나이: ' + str(age))
    return

In [56]:
printuser('홍길도', 55)

이름: 홍길도
나이: 55

In [57]:
printuser('정종우')

이름: 정종우
나이: 18

In [58]:
# 일반함수
def add(v1,v2):
    return v1+v2
sum = add(4,5)
print(sum)

9

In [60]:
# 익명함수
add2 = lambda v1, v2: v1+v2
sum = add2(4,5)
print(sum)

9

In [61]:
def FtoC(a):
    a = (5*(a - 32)) / 9
    return a

temp_f = float(input('화씨온도를 입력해주세요: '))

print(FtoC(temp_f))

화씨온도를 입력해주세요: 20
-6.666666666666667

# 연습문제 풀이

In [62]:
# 1번 문제
a = int(input('정수를 입력해주세요: '))

if a >0:
    print('양수입니다.')
elif a <0:
    print('음수입니다.')
else:
    print('0입니다.')

정수를 입력해주세요: 10
양수입니다.

In [64]:
num = int(input('값을 입력해주세요: '))
if num % 2 == 0:
    print('짝수입니다.')
else:
    print('홀수입니다.')

값을 입력해주세요: 4
짝수입니다.

In [65]:
num = int(input('값을 입력해주세요: '))
if num % 3 == 0:
    print('3의 배수')
else:
    print('3의 배수x')

값을 입력해주세요: 5
3의 배수x

In [66]:
sales_amount = [5500,5300,6700,5500,5800]

total = 0

for i in sales_amount:
    total = total + i # total += i
    
avg_amount = total/len(sales_amount)
print(avg_amount)

5760.0

In [69]:
num = int(input('정수를 입력해주세요: '))
for n in range(1, num+1):
    if num%n == 0 :
        print(n, end = ' ')

정수를 입력해주세요: 15
1 3 5 15

In [72]:
list_1 = [1,24,3,44,1000,2,0,74]

num = len(list_1)
maximum = list_1[0]

for i in range(1, num):
    if list_1[i] > maximum:
        maximum = list_1[i]

print(maximum)

1000

In [76]:
list_1 = [1,24,3,44,1000,2,0,74]
a = len(list_1)
a

8

In [80]:
def avg_numbers(*aaa):
    result = 0
    for i in aaa:
        result += i
    return result / len(aaa)

In [81]:
avg_numbers(1,3,4,5,5,5,5,5,5)

4.222222222222222

In [82]:
def calculation(data1, data2):
    print('합: ', data1+data2)
    print('차: ', data1-data2)
    print('곱: ', data1*data2)
    print('나눗셈: ', data1/data2)

In [83]:
calculation(12,3)

합:  15
차:  9
곱:  36
나눗셈:  4.0